#carouselExampleControls {
    margin-top: 20px;
}

.carousel-inner {
    position: relative;
    left: 32%;
}

img {
    width: 200px;
    height: 350px;
}

#btn1 {
    width: 30px;
    height: 70px;
    position: absolute;
    top: 350px;
    left: 28%;
}

#btn2 {
    width: 30px;
    height: 70px;
    position: absolute;
    top: 350px;
    left: 66%;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}